{% extends 'base.html' %}

{% block title %} Profile page{% endblock title%}

{% block content %}
<table class="table">
    <tr>
        <td>Username</td>
        <td>:</td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>:</td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td>USN</td>
        <td>:</td>
        <td>{{user.USN}}</td>
    </tr>
    <tr>
        <td>Email Options</td>
        <td>:</td>
        <div class="form-check">
            <td>
                <input class="form-check-input" type="checkbox" id="checkbox1" value="good">
                <label class="form-check-label">Recieve news and update mails</label>
            </td>
        </div>
    </tr>
    <tr>
        <td></td>
        <td>:</td>
        <div class="form-check">
            <td>
                <input class="form-check-input" type="checkbox" id="checkbox1" value="good">
                <label class="form-check-label"><a herf="#" class="hover-overlay">Receive special priviliges with payment</a></label>
            </td>
        </div>
    </tr>
</table>

<h3 class="text-danger">
    <a href="#">Delete</a>
    {% comment %} <button class="btn btn-danger">Confirm</button> {% endcomment %}
</h3>

{% endblock content %}