/* * {
    scroll-margin-top: 6rem;
} */

body {
    background-image: linear-gradient(rgb(46, 33, 118), rgb(45, 146, 99));
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
  }


.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }


.links{
    display:inline;
    background-color: black;
}

/* background-color: #0088cc; */

/* .navbar navbar-expand-lg navbar-dark{
    background-image: linear-gradient(to right, darkslategray, black);
} */

h1, h2, h3, h4, h5{
    background: hsl(var(--hue), calc(var(--sat) * 1%), calc(var(--light) * 10%));
}